#bannerTitle{
 text-align: center;
}

#bannerSubTitle{
    text-align: center;
}

#recentPostsTitle{
    text-align: center;
}

#postLinks{
    text-align: center;
}

#blogParagraphs{
    text-indent: 30pt;
}

#aboutLink{
    text-align: center;
}